<%- include('../partials/head.ejs'); %>
<body>
    <%- include('../partials/header.ejs'); %>

        <Section>

        <h3>Here Are Your Results</h3>
        <h4>Coin queried</h4>
        <%= symbolObj.symbol1 %>
        <h4>Current price</h4>
        <%= symbolObj.price1 %>
        <h4>Amount you can buy</h4>

        <h4>Coin queried</h4>
        <%= symbolObj.symbol2 %>
        <h4>Current price</h4>
        <%= symbolObj.price2 %>
        <h4>Amount you can buy</h4>
        <%= symbolObj.boughtAmount2 %>
                
        </Section>
        
        <script src="" async defer></script>
    </body>
</html>