<%- include('../../partials/head.ejs'); %>
<body>
    <%- include('../../partials/header.ejs'); %>

        <Section>

        <h3>Here Are Your Results</h3>
        <% symbols.forEach( symbol => { %>
            <li class="symbolItem">
              Coin Symbol: <%= symbol.symbol %>
            </li>
            <li class="priceItem">
             Coin Price: <%= symbol.price %>
            </li>
            <li class="priceItem"> 
                Your  $<%=symbol.amount %> would have bought: <%= symbol.bought %> coins.
            </li>
        <% }) %>
                
        </Section>
        
        <script src="" async defer></script>
    </body>
</html>